@namespace Rp.Phone.Apps.FaceTime.Components
@using System
@using Sandbox.UI
@using Rp.Phone.UI.Components
@using Rp.Phone.Apps.Messages.Components
@inherits Panel

@if ( _phoneContact is null ) return;

<root class="@Root">
	<div class="content">
		<img src="textures/ui/phone/woman.jpg" alt="">
		<div class="gradient"></div>
		<div class="contact-info">
			<span class="time">00:00</span>
			<span class="name">@_phoneContact.ContactName</span>
		</div>
		<div class="menu">
			<div class="first-column">
				<CircleButton Icon:Value="@_speakerIcon" Text="Speaker" CanToggled="@true" ToggleChanged="@OnSpeakerClicked"></CircleButton>
				<CircleButton Icon="fluent:video-28-filled" Text="FaceTime"></CircleButton>
				<CircleButton Icon:Value="@_muteIcon" Text="Mute" CanToggled="@true" ToggleChanged="@OnMuteClicked"></CircleButton>
			</div>
			<div class="second-column">
				<CircleButton Icon="fluent:people-add-28-filled" Text="Add"></CircleButton>
				<CircleButton Icon="fluent:call-end-28-filled" Text="End"></CircleButton>
				<CircleButton Icon="fluent:grid-dots-28-filled" Text="Keypad"></CircleButton>
			</div>
		</div>
	</div>
</root>
