@namespace Rp.Phone.Apps.FaceTime.Components
@using Rp.Phone.Apps.Messages
@using Rp.Phone.UI.Components
@using Rp.Phone.Apps.Messages.Components
@inherits Rp.UI.NavigationPage

<root>
	<MessageBar @ref="_navigationBar" Theme="@PhoneTheme.Light">
		<Content>
			<div class="header">
				<div class="left">
					<Button Icon="fluent:add-16-filled"></Button>
				</div>
				<div class="right">
					<Button Text="Edit"></Button>
				</div>
			</div>
			<div class="footer">
				<span>@PageName</span>
			</div>
		</Content>
	</MessageBar>
	<div class="contacts">
		@foreach ( var contact in Contacts )
		{
			if ( contact.IsMe() ) continue;
			
			<div @key="@contact" class="contact" @onclick="@( () => OnSelectContact( contact ) )">
				<div class="avatar-container">
					@if ( !string.IsNullOrEmpty( @contact.ContactAvatar ) )
					{
						<img src="@contact.ContactAvatar" alt="avatar_02">
					}
					else
					{
						<span class="initials">@contact.ContactName[..1]</span>
					}
				</div>
				<div class="content-container">
					<span class="name">@contact.ContactName</span>
					<div class="info">
						<iconify icon="fluent:call-16-filled" size="18" color="black"></iconify>
						<span class="type">FaceTime</span>
					</div>
				</div>
				<div class="icon-container">
					<iconify icon="fluent:info-24-regular" size="24" color="dodgerblue"></iconify>
				</div>
			</div>
		}
	</div>
</root>
