@namespace Rp.Phone.Apps.Messages.Components
@using System
@using Sandbox.UI
@inherits PhoneWidget

<root class="@Root">
	<div class="container">
		<div class="user">
			@if ( !Data.IsMe( PhoneNumber ) )
			{
				<img src="@Participant.Avatar" alt="">
			}
		</div>
		<div class="content">
			<div class="msg">
				<span>@Data.Content</span>
			</div>
			@if ( ShowDate )
			{
				<span class="date">@( Data.Date.ToString( "t" ) )</span>
			}
		</div>
		<div class="user">
			@if ( Data.IsMe( PhoneNumber ) )
			{
				<img src="@Participant.Avatar" alt="">
			}
		</div>
	</div>
</root>
